.App{
    background: linear-gradient(250deg, #ff4f4f, #e6f335);
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}